<div class="container">
  <table class="table table-bordered table-hover sortable-theme-bootstrap" data-sortable>
    <caption style="caption-side: top">Updated July 9, 2020</caption>
    <thead>
      <tr>
        <th>County</th>
        <th>Total Cases</th>
        <th id="new-cases-header" data-sorted="true" data-sorted-direction="descending">New Cases</th>
        <th>Total Deaths</th>
        <th>New Deaths</th>
      </tr>
    </thead>

    <tbody>
    <% counties.each do |county| %>
      <tr>
        <td>
          <a href="/counties/<%= county.name %>">
            <%= county.name %>
          </a>
        </td>
        <td><%= county.county_updates.first.cases %></td>
        <td><%= county.county_updates.first.cases - county.county_updates.first.previous_update.cases %></td>
        <td><%= county.county_updates.first.deaths %></td>
        <td><%= county.county_updates.first.deaths - county.county_updates.first.previous_update.deaths %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
